<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
 	<test name="Default Test">
  		
	<classes>
    	<class name="automation.LoginTest"/>
    	<class name="automation.SellerLoginPageTest"/>
   	</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
